<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chaitanya.lostb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".FirebaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logoicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LocationPostActivity"></activity>
        <activity android:name=".GeofenceActivity" />
        <activity
            android:name=".MyFoundActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".MyLostActivity"
            android:parentActivityName=".ProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".LocationBroadcastReceiver" />
        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PostFoundItems"
            android:parentActivityName=".FoundActivity" />
        <activity
            android:name=".FoundDetailedViewActivity"
            android:parentActivityName=".FoundActivity" />
        <activity
            android:name=".FoundActivity"
            android:parentActivityName=".LostActivity" />
        <activity
            android:name=".MapsActivity"
            android:parentActivityName=".LostActivity" />
        <activity
            android:name=".LocationHistory"
            android:parentActivityName=".LostActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".InboxActivity" />
        <activity
            android:name=".InboxActivity"
            android:parentActivityName=".LostActivity" />
        <activity
            android:name=".DetailedViewActivity"
            android:parentActivityName=".LostActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".LostActivity" />
        <activity
            android:name=".PostLostItems"
            android:parentActivityName=".LostActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".LostActivity" />
        <activity
            android:name=".LostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>